:root {
  --primary: white;
  --secondary: rgb(240,240,240);
  --header: rgb(255,255,255,0.75);
  --header-secondary: rgb(220,220,220,0.4);
  --text: black;
  --text-secondary: rgb(30,30,30);
  --shadow: rgb(0,0,0,0.03)
}

html,body{
    margin: 0px;
    padding: 0px;
    font-family: Avenir;
    background-color: var(--primary);
    color: var(--text);
}

#header{
    position: fixed;
    top:0px;
    background-color: var(--header);
    padding: 5px;
    width: 100%;
    height: 40px;
    -webkit-backdrop-filter: blur(15px) saturate(120%);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--header-secondary);
    box-shadow: 0px 8px 15px var(--shadow);
}

#header-title-container{
    padding-left: 10px;
    margin: 6px;
    width: 150px;
    float: left;
    overflow: hidden;
}

#header-title-container h2{
    margin: 0px;
    font-size: 20px;
    font-weight: lighter;
}

#main-container{
    margin-top: 60px;
    width:100%;
    height: 100%;
    padding: 10px;
}

.part-container{
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    box-shadow: 5px 5px 15px var(--shadow);
    margin: 10px;
    padding: 5px;
    resize: both;
}

.drag-bar{
    
}

.calculator{
    background-color: black;
    width: 600px;
    height: 400px;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}


@media (prefers-color-scheme: dark) {
    :root{
        --primary: rgb(20,23,30);
        --secondary: rgb(30,35,40);
        --header: rgb(20,23,30,0.75);
        --header-secondary: rgb(30,35,40,0.4);
        --text: rgb(230,230,230);
        --text-secondary: rgb(210,210,210);
        --shadow: rgb(0,0,0,0.1)
    }
}
