body {
    font-family: Roboto, sans-serif;
    background-color: rgb(255, 133, 51);
}


.tabs {
    overflow: hidden;
    border-radius: 5px;
    background-color: #f1f1f1d0;
}

.tabs button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
    font-size: 12px;
    border-radius: 4px;
}


.tabs button:hover {
    color: black;
    background-color: #ffffff60;
}

.tabs button:active{
    background-color: #ffffff90;
}

.tabs button.opened {
    background-color: #ffffffa0;
}

.tabContent {
    display: none;
    border-top: none;
    text-align: center;
}

h1 {
    color: white;
    font-family: Roboto, sans-serif;
    text-align: center;
}

#countDownTimerContainer {
    background-color:#f1f1f1d0;
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
}

#cdt-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.cdt-input{
    background-color: #c0c0c0a0;
    border:none;
    border-radius: 5px;
    font-size: 15vmin;
    width:20vmin;
    margin:10px;
    text-align: center;
}

#hour-cdt {

}

#minute-cdt {

}

#sec-cdt {

}


.timer-cdt {
    justify-self: center;
    align-self: center;
    border: none;
    background-color: #ffffff00;
    font-size: 50px;
    width: 75px;
    height: 50px;
}


.semi {
    font-size: 10vmin;
}

.btn {
    border-radius: 5px;
    width: 30vmin;
    margin-left: 5px;
    margin-right: 5px;
    border:none;
    font-size: 10vmin;
}

.btn:hover {
    background-color: #ccc;
}
