html,body{
    background-color: #e6ca55;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

h3{
    border-bottom: 1px solid rgb(0,0,0,0.2);
    padding-bottom: 5px;
}

p,h3{
    padding: 0px;
    outline:none;
}

button{
    background-color: #e6ca55;
    padding:15px 15px;
    position:absolute;
    bottom:0px
}

#bold{
    left:80%
}
#italic{
    left:85%
}
#regular{
    left:90%
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
