html,body{
    position: relative;
    overflow: none;
    background-color: #e6ca55;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

h3{
    border-bottom: 1px solid rgb(0,0,0,0.2);
    padding-bottom: 5px;
}

p,h3{
    padding: 0px;
    outline:none;
}

button{
    background-color: transparent;
    transition: 0.2s;
    position: relative;
    bottom: 0px;
    float: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/* #bold{
    left:80%
}
#italic{
    left:85%
}
#regular{
    left:90%
} */

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}



